<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.conecta_culturas">
    <!-- ***LA SIGUIENTE LINEA DA permiso de acceso a internet por parte de la aplicacion*** -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.RECORD_VIDEO"/>
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE"/>



    <uses-permission android:name="android.permission.CAMERA"
        />
    <uses-feature
        android:name="android.hardware.camera.any"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <application
        android:requestLegacyExternalStorage="true"
        android:allowBackup="true"
        android:icon="@drawable/_corapelogo_web_dw_akademie_03"
        android:label="@string/app_name"
        android:roundIcon="@drawable/_corapelogo_web_dw_akademie_03"
        android:supportsRtl="true"
        android:theme="@style/Theme.CONECTA_CULTURAS"
        android:usesCleartextTraffic="true">
        <activity android:name=".vistaIndividual"></activity>
        <activity android:name=".vistaGrupal" />
        <activity android:name=".DelUp" />
        <activity android:name=".ListaSaberes" />
        <activity android:name=".Search" />
        <activity android:name=".CRUD_repo" />
        <activity android:name=".repo_main" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>
    </application>

</manifest>